.divider {
  background-color: #D4E6FF;
  height: .1em;
  padding-top: 0%;
  margin-top: 0%;
}

.header  {
  padding-top: 0px;
  font-size: 20px;
  text-size-adjust: auto;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  .header {
    font-size: 15px;
  }
  
}
