.div {
  bottom:0;
  position: absolute;
  text-align: center;
  justify-content: center;
}

.keyboard {
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  vertical-align: bottom;
  display: inline-block;
  float: none;
  padding-top: 1%;
  padding-bottom: 2%;
  bottom:0;
}

.keyboardButton:focus {
  outline: none;
  box-shadow: none;
  background-color: grey;
}

.icon{
  background-color: grey;
  text-align: center;
  width: 10px;
}
