.keyboardButton {
  font-size: 200%;
  margin: 3px;
  width: 50px;
  position: relative;
  bottom: 0px;
  border-color: grey;
  background-color: grey;
  flex-direction: initial;
}

#misplaced{
  background-color: #deb737;
}

#wrong{
  background-color: #5a6266;
}

#correct{
  background-color: #66a358;
}

.keyboardButton:hover {
  outline: none;
  box-shadow: none;
  background-color: grey;
}

.keyboardButton:focus {
  outline: none;
  box-shadow: none;
  background-color: grey;
}

.keyboardButton:active {
  outline: none;
  box-shadow: none;
  background-color: grey;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .keyboardButton {
      font-size: 100%;
      width: 30px;
      height: 45px;
      margin-top: 3px;
      padding: 0px;
      text-align: center;
      justify-content: center;
    }
}

